{% extends 'AppBundle::layout.html.twig' %}
{% block body %}

<div class="container">
    <div class="col-md-offset-1 col-sm-8">
    <div class="card card-content" style="padding: 20px;">
        <div class="">
            <h2>Change your password<small>
            </small></h2>
        </div>
        <div class="card-body card-padding " > 
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
		<div class="form-group label-floating is-empty">
			{{form_label(form.current_password)}} 
			{{ form_widget(form.current_password,{attr:{"class":"form-control"}})}}
			{{ form_errors(form.current_password)}}
		</div>
		<div class="form-group label-floating is-empty">
			{{form_label(form.new.first)}}
			{{ form_widget(form.new.first,{attr:{"class":"form-control"}})}}
			{{ form_errors(form.new.first)}} 
		</div>
		<div class="form-group label-floating is-empty">
			{{form_label(form.new.second)}} 
			{{ form_widget(form.new.second,{attr:{"class":"form-control"}})}}
			{{ form_errors(form.new.second)}}
		</div>
		<button  class="btn btn-raised btn-primary pull-right">{{ 'Change password'|trans }}</button> 
		{{ form_end(form) }}
             
            <br>
            <br>
        </div>
    </div>
</div>

</div>
{% endblock %}