{% extends "AppBundle::layout.html.twig" %}
{% block body%}
<div class="container-fluid">
    <div class="row">
        {{form_start(form)}}
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">settings</i>
                </div>
                <br>
                <h4 class="card-title">Settings</h4>
            </div>
        </div>
       <div class="col-md-12">
            <div class="card">
                <div class="card-content">              
                        <div class="form-group label-floating is-empty" style="padding: 0px;margin: 0px;">
                            <label class="control-label">Firebase Legcy sever key</label>
                            {{form_widget(form.firebasekey,{"attr":{"class":"form-control",'rows':12}})}}
                            <span class="validate-input">{{form_errors(form.firebasekey)}}</span>
                        </div>
                </div>
                <div class="card" style="    margin-top: -15px;">
                    <span class="pull-right"><a href="{{path("app_home_index")}}" class="btn btn-fill btn-yellow col-md-6"><i class="material-icons">arrow_back</i> Cancel</a>{{form_widget(form.save,{attr:{"class":"btn btn-fill btn-rose"}})}}</span>
                </div>
            </div>
        </div>
        {{form_end(form)}}
    </div>
</div>
{% endblock%}